<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214390228524-l1fc54g9skusd1be5bt9s8cthi9brqef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214390228524-l1fc54g9skusd1be5bt9s8cthi9brqef</string>
	<key>API_KEY</key>
	<string>AIzaSyAGy7knzbeL68BiLJWBHkL8VRTxJuMesLE</string>
	<key>GCM_SENDER_ID</key>
	<string>214390228524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exceedtoystore.app</string>
	<key>PROJECT_ID</key>
	<string>exceed-toy-store</string>
	<key>STORAGE_BUCKET</key>
	<string>exceed-toy-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214390228524:ios:1d4a20b1383252f55e7389</string>
</dict>
</plist>